/* Màu nền khối admin (sidebar + content) */
.bg-admin {
    background-color: #6ebfb4;
    border-radius: 12px;
}

/* Body tổng thể */
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f3f4;  /* nền sáng nhẹ cho trang admin */
}
.nav-link:hover {
    background-color: #5aa9a4;
    color: #000 !important;
}
body{
    font-family:Poppins,Arial,Helvetica,sans-serif;
    margin:0;
    padding:0;
    background-color:#90abaf
} 
.container-fluid{
    padding:20px
}